name: Node CI/CD Clean Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: CI check
        run: npm install

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            set -e

            APP=/var/www/node-app
            RELEASE=$APP/releases/$(date +%Y%m%d%H%M%S)
            CURRENT=$APP/current

            mkdir -p $APP/releases
            cd $APP

            echo "Creating new release"
            mkdir $RELEASE
            git clone https://github.com/sahil-dx/CI_CD_basic_pipe.git $RELEASE

            cd $RELEASE
            npm install

            echo "Switching symlink"
            ln -sfn $RELEASE $CURRENT

            echo "Restarting app"
            pm2 restart node-app || pm2 start index.js --name node-app
